<div class="panel-heading"> <b><h2>
    Détails du client
  </h2></b>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4"> <b style="color:dodgerblue">Code client : </b></div>
                <div class="col-md-8">{{client.codeClient}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Nom : </b>  </div>
                <div class="col-md-8">{{client.nomClient}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Prénom : </b> </div>
                <div class="col-md-8">{{client.prenomClient}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Date de naissance : </b> </div>
                <div class="col-md-8">{{client.dateNaissance}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Nom société : </b> </div>
                <div class="col-md-8">{{client.nomSociete}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Téléphone mobile : </b> </div>
                <div class="col-md-8">{{client.telMobile}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">Téléphone fixe : </b> </div>
                <div class="col-md-8">{{client.telFixe}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">FAX : </b> </div>
                <div class="col-md-8">{{client.fax}}</div>
            </div>
            <div class="row">
                <div class="col-md-4"><b style="color:dodgerblue">E-mail : </b> </div>
                <div class="col-md-8">{{client.email}}</div>
            </div>
       </div>
    </div>
</div>
            
            

