.first {
    background-color: with;
    border: 2px solid rgb(17, 226, 191);
    height: 15px;
    width: 100%;
    border-radius: 10px;
    margin: 0;
    padding: 0;

  }

  .second {
    background-color: rgb(17, 226, 191);
    height: 105%;
    width: 100%;
    color: black;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    
  }