

<table class="Info">
    
  <tbody>
      <tr> <b> <h2>Information Facturation</h2></b></tr>
      <tr>
          <td > <label for="Code Facture">Code Facture :</label>
            <input type="text" [(ngModel)]='facture.codeFacture' class="form-control" name="codeFacture" /> 
          </td>
          <td > <label for="Code Client">Code Client :</label>
            <input type="text" [(ngModel)]='facture.codeClient' class="form-control" name="codeClient" /> 
          </td>
          <td > <label for="numeroCommande">Numero de Commande :</label>
            <input type="date" [(ngModel)]='facture.numeroCommande' class="form-control" name="numeroCommande" /> 
          </td>
          <td > <label for="dateCommande"> Date de Commande :</label>
            <input type="text" [(ngModel)]='facture.dateCommande' class="form-control" name="dateCommande" /> 
          </td>
      </tr>
      <tr>
          <td > <label for="dateLivraison"> Date de Livraison :</label>
            <input type="text" [(ngModel)]='facture.dateLivraison' class="form-control" name="dateLivraison" /> 
          </td>
          <td > <label for="modePaiement"> Mode de Paiement:</label>
            <input type="text" [(ngModel)]='facture.modePaiement' class="form-control" name="modePaiement" /> 
          </td>
          <td> </td>
      </tr>
      <tr><b> <h2> Facturation </h2></b></tr>
      <tr>
          <td > <label for="prixUnitaire"> Prix Unitaire :</label>
            <input type="text" [(ngModel)]='facture.prixUnitaire' class="form-control" name="prixUnitaire" /> 
          </td>
          <td > <label for="BaseHT">Base Hors Taxe :</label>
            <input type="text" [(ngModel)]='facture.BaseHT' class="form-control" name="fax" /> 
          </td>
      </tr>
      <tr>
          <td > <label for="totalHT">Total Hors Taxe :</label>
            <input type="text" [(ngModel)]='facture.totalHT' class="form-control" name="totalHT" /> 
          </td>
          <td > <label for="montantTTC">MontantTTC :</label>
            <input type="text" [(ngModel)]='facture.montantTTC' class="form-control" name="montantTTC" /> 
          </td>
        </tr>

  </tbody>
</table>

<div align = "right">
  <button (click)="saveFacture()" class="btn btn-primary"> Ajouter </button> <button class="btn btn-primary"> Annuler </button>
</div>