<div class="panel panel-primary">
  <div class="panel-heading">Détail contact</div>
  <div class="panel-body">
    <div class="form-group">
      <label>Code Facture:</label>
      <label>{{facture.CodeFacture}}</label>
    </div>
    <div class="form-group">
      <label>Code Client:</label>
      <label>{{facture.CodeClient}}</label>
    </div>
    <div class="form-group">
      <label>Numero Commande:</label>
      <label>{{facture.numeroCommande}}</label>
    </div>
    <div class="form-group">
      <label>Date Commande:</label>
      <label>{{facture.dateCommande}}</label>
    </div>
    <div class="form-group">
      <label>Mode Paiement:</label>
      <label>{{facture.modePaiement}}</label>
    </div>
    <div class="form-group">
      <label>Statut:</label>
      <label>{{facture.statut}}</label>
    </div>
    <div class="form-group">
      <label>dateLivraison</label>
      <label>{{facture.dateLivraison}}</label> 
    </div>
    <div class="form-group">
      <label>MontantTTC</label>
      <label>{{facture.MontantTTC}}</label>  
    </div>
    <div class="form-group">
      <label>Date Echeance:</label>
      <label>{{facture.dateecheance}}</label>
    </div>
    <div class="form-group">
          <label>Montant Echeance:</label>
          <label>{{facture.montantecheance}}</label>
    </div>
    <div class="form-group">
          <label>Reste Du:</label>
          <label>{{facture.restedu}}</label>
    </div>
    



  </div>
</div>