<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">



<div id="div1">
  
     
<img src="https://cdn.shopify.com/s/files/1/0259/0359/files/vanina.jpg?v=1476452326.jpg&fbclid=IwAR3grWF89RHanIccvJg0NUBG3nCu6lLRt-hBK5_GJ2Jm4-NbztZtBRhcVuM" />

<app-menu-list></app-menu-list>

</div>



<div id="div2">
<div>
<a class="clickable" (click)='home()'>Accueil</a>
<span>|</span>
<a class="clickable" (click)='factureRedirect()'>Facture</a>
<span>|</span>
<a class="clickable" (click)='listeFacture()'>Liste des factures</a>
<span>|</span>
<a class="clickable" (click)='reglementRedirect()'>Règlement</a>

</div>


<div class="panel panel-primary">
      <div class="panel-heading" style="text-align:center">
         
         <h4>Détails de la facture</h4> 
      
      </div>
      <div class="border border-dark p-3">


            <div class="row" >

                  <div class="row col">
                   <div class="col">N° facture :</div>
                      <div class="col bordure">{{facture.id}}</div>
                   </div>
                   <div class="row col">
                      <div class="col">Code client :</div>
                 
                      <div class="col bordure">{{facture.codeClient}}</div>
                   </div>
                   
                   <div class="row col" >
                      <div class="col">Date : </div>
                      <div class="col bordure">{{facture.dateCommande}}</div>
                   </div>
                      </div>
                
                
                      <div class="row">
                
                            <div class="row col">
                               <div class="col">Montant total :</div>
                                  <div class="col bordure">{{facture.totalHT}}</div>
                               </div>
                               <div class="row col">
                                  <div class="col">TVA :</div>
                                
                                  <div class="col bordure">{{facture.montantTVA}}</div>
                               </div>
                                  
                               <div class="row col" >
                                  <div class="col">Total TTC : </div>
                                  <div class="col bordure">{{facture.montantTTC}}</div>
                               </div>
                        
                         </div>
                         <div class="row" >

                              <div class="row col">
                               <div class="col">Total payé :</div>
                                  <div class="col bordure">{{facture.progression}}%</div>
                               </div>
                               <div class="row col">
                                  <div class="col">Reste :</div>
                             
                                  <div class="col bordure">{{facture.restedu}}</div>
                               </div>
                               </div>

  

   
 
      </div>
</div>


  <div class="margin">
         <h5>Progression du paiement :</h5>            
    
      <div class="first">
            <div [ngStyle]="{'width.%': width }" class="second progress-bar" name="progression">{{width}}%</div>
        
       
        </div>
     
      </div>

      
      <div class="panel panel-primary size">
            <div class="panel-heading" style="text-align:center">
                  
          <h4>Réglement</h4> 
          </div>
          <div class="size">

         <form>
            <div class="row">
                  <div class="row col" >
                     <div class="col text">Montant : </div><div><input type="text" [(ngModel)]='reglement.montant' name="montant" class="form-control col"/></div>
                  </div>
                  <div class="row col">         
                        <div class="col text">Date : </div><div><input type="date" [(ngModel)]='reglement.date' name="date" class="form-control col"/></div>
                   </div>
            </div>       
              

            <div class="row">
               <div class="row col">
                  <div class="col text">Mode de règlement :</div>
                  <div class="col">
                  <select [(ngModel)]="reglement.modePaiement" name="modePaiement" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                        <option value="CHEQUE">Chèque</option>
                        <option value="CB">CB</option>
                        <option value="ESPECE">Espèce</option>
                      </select>
                     </div>
               </div>
               <div class="row col">
                  <div class="col text">Numéro pièce : </div><div><input type="text" [(ngModel)]='reglement.numPiece' name="numPiece" class="form-control col"/></div>
               </div>

            </div>

            <div class="size">
            <button (click)='savePaiement()' class="btn">Enregistrer</button>
            <button type="reset" class="btn">Annuler</button>
            </div>

         </form>
         </div>
         
      

       </div>

    
      

 


  <div class="panel panel-primary" style="text-align:center">
   <div class="panel-heading">
     <h4>Liste des paiements</h4>
   </div>

   <div class="panel-body">
     <table class="table table-striped responsive">
       <thead>
         <tr>
           <th>Montant</th>
           <th>Date</th>
           <th>Mode de paiement</th>
           <th>Option</th>           
         </tr>
       </thead>
       <tbody>
         <tr *ngFor='let reglement of reglements'>
           <td>{{reglement.montant}}</td>
           <td>{{reglement.date}}</td>
           <td>{{reglement.modePaiement}}</td>
           <td>
               <a class="clickable" (click)='detailPaiement(reglement.id)'><i class="far fa-eye image"></i></a>           
               <a class="clickable" (click)='editPaiement(reglement.id)'><i class="fas fa-edit image"></i></a>      
               <a class="clickable" (click)='deletePaiement(reglement.id)'><i class="fas fa-trash-alt image"></i></a>
           </td>
         </tr>
       </tbody>
     </table>
 
   </div>
 
 </div>

 <div style="text-align:center">   
   <a class="clickable" (click)='telecharger(paiement.id)'><i class="fas fa-download"></i>Télécharger</a>
</div>

</div>
