
#div1{
    width: 20%;
    float: left;
}

#div2{
    width: 80%;
    float: right;
}

h4{
    border: 1px solid black;
    border-radius: 30% /50%;
    margin: 2%;
    padding:1%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    

}

img{
 
    max-width: 100%;
    height: auto;
}


.row{
    
    padding-top:1%;
    padding-bottom:1%;
    margin-left: auto;
    margin-right: auto;
}



.bordure{
    border: 1px solid black;
    border-radius: 30px;
}

.col{
    text-align: center;
    
}

.text{
    margin: auto;
}

.size{
    width:80%;
    margin-left: auto;
    margin-right: auto;
}

.btn{

    margin: 20px;
    border: 1px solid rgb(17, 226, 191);
    box-shadow: 3px 7px rgb(17, 226, 191);

}

.first {
    background-color: with;
    border: 2px solid rgb(17, 226, 191);
    height: 15px;
    width: 100%;
    border-radius: 10px;
 

  }

  .second {
    background-color: rgb(17, 226, 191);
    height: 105%;
    width: 100%;
    color: black;
    border-radius: 10px;

    
  }

.margin{
    margin-top: 3%;
    margin-bottom: 3%;
}

.image{
    margin-left:2%;
    margin-right:2%;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
	background-color: rgb(17, 226, 191);
}

#essai{
    border: 1px solid black;
}

.class{
    float: left;
}
