<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/v4-shims.css">
  </head>

<body>

  
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <img src="https://cdn.shopify.com/s/files/1/0259/0359/files/vanina.jpg?v=1476452326.jpg&fbclid=IwAR3EkAj9c6VTa1bnZlDQX5yRYhLrlXH_UJAfaC-e5bMAGJ6L-ONhk7p7P1M" style="width:20%"/>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" style="margin-left: 20%"   id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['nouveauClient']">Ajouter client </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['clients']">Liste des clients </a>
              </li>
          </ul>
          <ul class="nav-item">
              <a class="nav-link" href="#"> <i class="fas fa-bell"></i> </a>
          </ul>
            <ul class="nav-item">
                <a class="nav-link" href="#"> <i class="fas fa-user-circle"></i></a>
            </ul>
        </div>
      </nav>


    
  <app-menu-list></app-menu-list>

      
      <div class="panel panel-primary" align="center" style="width: 50%">
    <div class="panel-heading">
      <b><h2>Liste des clients</h2></b>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-left: 25%">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <i class="fas fa-search"></i>
                <input type="text"  />
                <button class="btn btn-primary"> Rechercher </button>
            </div>
        </div>
        <div class="row">
            
        </div>
      <div class="table-responsive">
      <table class="table"  style="width:60%" align="center">
        <thead style="background-color:rgb(124, 196, 238); color:cornsilk">
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de Naissance</th>
            <th>Téléphone mobile</th>
            <th>Email</th>
            <th>Société</th>
            <th>Options</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let client of clients'>
            <td>{{client.nomClient}}</td>
            <td>{{client.prenomClient}}</td>
            <td>{{client.dateNaissance}}</td>
            <td>{{client.telMobile}}</td>
            <td>{{client.email}}</td>
            <td>{{client.societe}}</td>
            <td>
              <button (click)='detailClient(client.codeClient)'><i class="fas fa-eye"></i></button>
              <button ><i class="fas fa-pen"></i></button>
              <button ><i class="fas fa-trash-alt"></i></button>
                
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  
  </div>

</body>