<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" >
    <div class="row" >
        <div class="col-sm-3 col-md-3" >
            <div class="panel-group" id="accordion">
                <div class="panel panel-default" style="width: 130%">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon glyphicon-folder-close">
                            </span>Client</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="">Ajouer un client</a>
                                    </td>
                                </tr>
                               
                               
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="">Liste des client</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default" style="width: 130%">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon glyphicon-folder-close">
                              </span>Commande</a>
                          </h4>
                      </div>
                      <div id="collapseOne" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <table class="table">
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-pencil text-primary"></span><a href="">Ajouer une commande</a>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          <span class="glyphicon glyphicon-file text-info"></span><a href="">Liste des commandes</a>
                                      </td>
                                  </tr>
                                  
                              </table>
                          </div>
                      </div>
                  </div>
                  <div class="panel-group" id="accordion">
                    <div class="panel panel-default" style="width: 130%">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href=""><span class="glyphicon glyphicon-folder-close">
                                </span>Facture</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-pencil text-primary"></span><a href="">Ajouer une facture</a>
                                        </td>
                                    </tr>
                                   
                                   
                                    <tr>
                                        <td>
                                            <span class="glyphicon glyphicon-file text-info"></span><a href="">Liste des factures</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>