
<div id="div1">
    <img src="https://cdn.shopify.com/s/files/1/0259/0359/files/vanina.jpg?v=1476452326.jpg&fbclid=IwAR3grWF89RHanIccvJg0NUBG3nCu6lLRt-hBK5_GJ2Jm4-NbztZtBRhcVuM" />
    
   
   
    <app-menu-list></app-menu-list>
   
   
   </div>
    
    
    
    <div id="div2">
    <div>
    <a>Accueil</a>
    <span>|</span>
    <a>Facture</a>
    <span>|</span>
    <a>Liste des factures</a>
    <span>|</span>
    <a>Règlement</a>
    
    </div>
    


<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center">
         
        <h4>Détails de la facture</h4> 
     
     </div>
    <div class="panel-body bordure2">


    

            <div class="row col">
             <div class="col">Montant :</div>
                <div class="col bordure">{{reglement.montant}}</div>
             </div>
             <div class="row col">
                <div class="col">Date : </div>
           
                <div class="col bordure">{{reglement.date}}</div>
             </div>
             
             <div class="row col" >
                <div class="col">Mode de Paiement :  </div>
                <div class="col bordure">{{reglement.modePaiement}}</div>
             </div>

             <div class="row col" >
                <div class="col">Numéro de Piece :  </div>
                <div class="col bordure">{{reglement.numPiece}}</div>
             </div>
                </div>
          


       
                

</div>
</div>
