<div class="panel panel-primary">
    <div class="panel-heading">Détails de la commande</div>
    <div class="panel-body">
      <div class="form-group">
        <label>ID:</label>
        <label>{{commande.id}}</label>
      </div>
      <div class="form-group">
        <label>Coupe en bout:</label>
        <label>{{commande.coupeEnBout}}</label>
      </div>
      <div class="form-group">
        <label>Thermo:</label>
        <label>{{commande.thermo}}</label>
      </div>
      <div class="form-group">
        <label>Emp/Dbl:</label>
        <label>{{commande.empDbl}}</label>
      </div>
      <div class="form-group">
        <label>Thermo Type:</label>
        <label>{{commande.thermoType}}</label>
      </div>
      <div class="form-group">
        <label>Façonnier:</label>
        <label>{{commande.faconnier}}</label>
      </div>
      <div class="form-group">
        <label>Société:</label>
        <label>{{commande.societe}}</label>
      </div>
      <div class="form-group">
          <label>Réceptionneur:</label>
          <label>{{commande.receptionneur}}</label>
        </div>
    </div>
  </div>